<template>
  <div>
    <main>
      <b-container>
        <b-row>
          <b-col md="12">
            ----  Admin  ----
          </b-col>
        </b-row>
      </b-container>
    </main>
  </div>
</template>

<script>
  export default {
    layout: 'admin'
  }
</script>

<style scoped>

</style>
