<template>
  <div>
    <main>
      <b-container>
        <b-row>
          <b-col md="12">
            Login
          </b-col>
        </b-row>
      </b-container>
    </main>
  </div>
</template>

<script>
export default {
  name: "login"
}
</script>

<style scoped>

</style>
