<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="/">Mon Application Vue.JS</b-navbar-brand>

    <b-navbar-nav class="ml-auto">

      <!-- Créer un lien vers la page login -->
      <li class="nav-item">
        <nuxt-link to="/admin/login" class="nav-link">Login</nuxt-link>
      </li>

      <b-nav-item href="#"></b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
