<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="/">Mon Application Vue.JS</b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <!-- Créer un lien vers la page login -->
      <li class="nav-item">
        <nuxt-link to="/admin" class="nav-link">Logout</nuxt-link>
      </li>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
  export default {
    name: "NavBarAdmin"
  }
</script>

<style scoped>

</style>
