<template>
  <div>
    <main>
      <b-container>
        <b-row>
          <b-col md="12">

            <h1>Articles</h1>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores expedita maiores minus numquam
              quo recusandae reiciendis sequi unde vel voluptatibus. Dignissimos ea fuga inventore quod voluptate!
              At corporis cumque officiis?
            </p>

          </b-col>
        </b-row>
      </b-container>
    </main>
  </div>
</template>

<script>
  export default {
    name: "index"
  }
</script>

<style scoped>

</style>
