<template>
  <div>
    <!-- Import du component navbar -->
    <NavBar/>
    <nuxt/>
  </div>
</template>

<script>
  import NavBar from '@/components/NavBarAdmin'
  
  export default {
    components: { NavBar }
  }
</script>

<style scoped>

</style>
