<template>
  <div>
    <!-- Import du component navbar -->
    <NavBar/>
    <nuxt/>
  </div>
</template>

<script>
  import NavBar from '@/components/NavBar'

  export default {
    components: { NavBar }
  }
</script>

<style>

</style>

